/SourceGenerator~/TinyTableSourceGenerator/.idea
/SourceGenerator~/TinyTableSourceGenerator/.junie
/SourceGenerator~/TinyTableSourceGenerator/TinyTableSourceGenerator/bin
/SourceGenerator~/TinyTableSourceGenerator/TinyTableSourceGenerator/obj
/SourceGenerator~/TinyDataTableSourceGenerator/TinyTableSourceGenerator/bin
/SourceGenerator~/TinyDataTableSourceGenerator/TinyTableSourceGenerator/obj
/SourceGenerator~/TinyDataTableSourceGenerator/.idea
/SourceGenerator~/TinyDataTableSourceGenerator/.junie
/SourceGenerator~/TinyDataTableSourceGenerator/TinyDataTableSourceGenerator/obj
/SourceGenerator~/TinyDataTableSourceGenerator/TinyDataTableSourceGenerator/bin
/SourceGenerator~/TinyDataTableSourceGenerator/*.user
