/SourceGenerator~/TinyTableSourceGenerator/.idea
/SourceGenerator~/TinyTableSourceGenerator/.junie
/SourceGenerator~/TinyTableSourceGenerator/bin
/SourceGenerator~/TinyTableSourceGenerator/obj
/SourceGenerator~/TinyDataTableSourceGenerator/.idea
/SourceGenerator~/TinyDataTableSourceGenerator/.junie
/SourceGenerator~/TinyDataTableSourceGenerator/*.user
/SourceGenerator~/.idea
/SourceGenerator~/.junie
/SourceGenerator~/TinyDataTableSourceGenerator/bin
/SourceGenerator~/TinyDataTableSourceGenerator/obj
/.idea/.gitignore
/.idea/indexLayout.xml
/.idea/vcs.xml
